/* Cards */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
  }
  
  .infected {
    border-bottom: 10px solid #718096;
    border-top: 10px solid #718096;
  }
  
  .recovered{
    border-bottom: 10px solid #38a169;
    border-top: 10px solid #38a169;
  }
  
  .deaths{
    border-bottom: 10px solid #e53e3e;
    border-top: 10px solid #e53e3e;
    margin-left: 10px;
  }